.header {
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
}


.logo {
  width: 90px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  font-size: 20px;
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}
.restaurant-card {
  margin: 8px;
  width: 200px;
  padding: 0px 3px;
  background-color: #f0f0f0;
  border-radius: 25px;
  display: grid;
  text-align: center;
}
h4,
h3 {
  padding: 5px;
  margin: 0px;

}
.restaurant-card:hover {
  cursor: pointer;
  border: 1px solid black;
  margin: 1px;
}

.search {
  padding: 10 px;
}

.restaurant-logo {
  width: 100%;
  height: 150;
  border-radius: 25px;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}
